<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<ul class="nevbar">
		<li class="nevbarli"><a class="nevbarli_a" href="{{ url_for('home')}}">Home</a></li>
		<li class="nevbarli"><a class="nevbarli_a" href="{{ url_for('store')}}">store</a></li>
		<li class="nevbarli"><a class="nevbarli_a"href="{{ url_for('about')}}">About</a></li>
		<li class="nevbarli"><a class="nevbarli_a"href="{{ url_for('cart')}}">Carts</a></li>
	</ul>
  	<h1>sorry i have no time</h1>
  	<h2>
  		hi  about us
  	</h2>
  	<p>bla bla bla bl bla bla bla bla bla bla</p>


</body>
</html>