<!DOCTYPE html>
<html>
<head>
	<title>store</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<ul class="nevbar">
		<li class="nevbarli"><a class="nevbarli_a" href="{{ url_for('home')}}">Home</a></li>
		<li class="nevbarli"><a class="nevbarli_a" href="{{ url_for('store')}}">store</a></li>
		<li class="nevbarli"><a class="nevbarli_a"href="{{ url_for('about')}}">About</a></li>
	</ul>
	<br><br><br><br>
	
			{% for Product in products%}
			<div class="card">
				<img src="{{url_for('static',filename= Product.picture_link)}}" style="width:100%">
				<h1>{{Product.name}}</h1>
				<p class="price">{{Product.price}}$</p>
				<p><button>Add to Cart</button></p>
			</div>
			{% endfor %}


	   


   


</body>
</html>